# Git Ignore File - Altium Projects

# Altium thumbnail files
**/__Previews/
# Altium backup archives
**/History/
# Altium metadata file
*.PcbDoc.htm
# Altium Logs file
*/Project Logs for air qulity monitor/